body {
}
main{
    max-width: 600px;
    margin: auto;
    padding: 35px 2em;
    min-height: 80vh;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
}
header nav {
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
}

footer{
    padding: 20px 20px;

}
.links-block {
    display: none;
    padding: 0 15px;
}
.links-block-visible {
    display: flex;
    flex-direction: column;
}
.title-section {
    padding: 20px 5px;
}
.book-card{
    padding: 30px 2em 60px;
    margin: auto;
    max-width: 380px;
}
