<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/base.css">
    </head>
    
    <body>
        <header>
            <nav>
                <div>
                    <h1>Best Books!</h1>
                </div>
                <div>
                    <button id="hamburgerIcon"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>
            </nav>
            <div class="links-block" id="linksBlock">
                <ul class="links-block-visible">
                    <a href="/">Home</a>
                    <a href="/search/new">Search</a>
                </ul>
            </div>
            <section class="title-section">
                <h1>Error</h1>
            </section>
        </header>
        <main>
            <div class="error-meesage">
                <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                     Something went wrong. </h1>
            </div>
            <div class="submit-btn">
                <a href='/' class="btn">Go to Homepage</a>
            </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>