<%- include('../layout/head') %>
<%- include('../layout/header') %>
<main>
    <section>
        <div class="homepage-greetings">
            <h2>Welcome to Books Explorer App!</h2>
        </div>
        <div class="submit-btn">
            <a href="/search/new" class="btn">Get started</a>
        </div>
    </section>
</main>

<%- include('../layout/footer') %>